@include media(">phone", "<desktop"){
    #wpadminbar{
        position: fixed;
    }
}

.divider{
    &-horizont{
        display: block;
        width: 100%;
        height: 2px;
        background: color(light, 300);
    }
}
