@include media('>=large') {
  .container {
    max-width: 1350px !important;
  }
}

@include media('>=extra-large') {
  .container {
    max-width: 1440px !important;
    padding-left: 30px;
    padding-right: 30px;
  }
}

// @include media(">tablet")