/*-------------------------------------*/
.accordion-item {
  padding: rem(23px) 0 rem(15px);
  border-bottom: 1px solid color(dark, 600);
  @include media("<desktop") {
    padding: rem(23px) 0 rem(20px);
  }


  &:last-child {
    border-bottom: none;
  }

  .accordion-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .accordion-arrow {
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;

      .ic {
        font-size: 13px;

        &.icon-minus:before {
          content: "\e90f" !important;
        }
      }
    }
  }

  .accordion-active {
    // background-color: #e5e4e4;
  }

  .accordion-rotate {
    transform: rotate(225deg);
  }

  .accordion-content {
    margin: rem(16px) 0 rem(14px) rem(24px);
    font-size: rem(14px);
    display: none;
    @include media("<tablet") {
      margin: rem(21px) 0 rem(14px) rem(17px);
    }
  }
}

/* ====== Custom accordion styles ====== */

.block-faq {
  margin: 0 auto;
  margin-block: rem(43px) rem(70px);

  @include media("<desktop") {
    max-width: 100%;
    margin-block: rem(24px) rem(30px);
  }

  .accordion {
    &-icon {
      font-size: 13px;
    }

    &-item {
      border-bottom: 1px solid color(dark, 700);
    }

    &-title {
      &-text {
        @include font-setup(20px, 700, 30px);
        @include media("<tablet") {
          @include font-setup(16px, 700, 24px);
        }
      }
    }

    &-content {
      p {
        @include font-setup(16px, 300, 26px);
        color: color(light, 800);

        @include media("<tablet") {
          @include font-setup(14px, 400, 26px);
        }
      }
    }
  }
}