.dropdown {
    position: relative;
    cursor: pointer;
    &-current {
        display: flex;
        &::after {
            display: block;
            content: "\e905";
            font-family: $icon;
            color: color(primary, 200);
            margin-left: rem(8px);
            cursor: pointer;
        }
    }
    &-items {
        display: none !important;
        &--active {
            display: flex !important;
            position: absolute;
            flex-direction: column;
            top: 20px;
            background: color(light, 100);
            box-shadow: $shadow;
            li {
                padding: rem(16px) rem(20px);
                width: 100%;

                &:hover {
                    background: color(light, 300);
                }
            }

            .current-menu-item::after {
                display: none !important;
            }
        }
    }
}