.list {
  //Join
  &-join {
    &-item {
      display: flex;
      flex-direction: column;

      @include media("<desktop") {
        margin-bottom: rem(24px);
      }

      @include icon-setup {
        font-size: 48px;
        margin-bottom: rem(30px);
      }

      h3 {
        margin-bottom: rem(1px);
      }

      .subtitle {
        @include font-setup(14px, 700, 20px);
        color: color(secondary, 200);
        margin-bottom: rem(20px);
      }

      p {
        @include font-setup(16px, 400, 30px);
        color: color(dark, 400);
      }
    }
  }

  // Offers
  &-offer {
    &-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      column-gap: 0px;
      row-gap: rem(45px);
      margin-block: rem(55px);
      @include media("<desktop") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(30px);
        margin-block: rem(55px) rem(25px);
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:hover {
        text-decoration: none;
      }

      &--icon {
        @include icon-setup {
          font-size: rem(48px);
          color: color(dark, 200);
        }
      }

      &--title {
        @include font-setup(18px, 500, 27px);
        margin-block: rem(18px) rem(7px);
        color: color(dark, 200);
        text-align: center;
        max-width: rem(210px);
        @include media("<tablet") {
          margin-block: rem(12px) rem(7px);
        }
      }

      &--action {
        @include icon-setup {
          font-size: rem(24px);
          color: color(secondary, 200);
        }
      }
    }
  }

  // Advantages
  &-advantage {
    &-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-block: rem(65px) rem(80px);

      @include media("<desktop") {
        flex-direction: column;
        margin-block: rem(40px) rem(30px);

        .wp-block-columns {
          flex-wrap: nowrap;
          margin-bottom: 0;
        }

        .wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:first-child {
          flex-basis: 24% !important;
        }
      }

      h4 {
        @include font-setup(18px, 500, 27px);
        color: color(dark, 200);
        margin-bottom: 7px;
      }

      p {
        @include font-setup(16px, 400, 27px);
        color: color(dark, 400);
      }

      figure {
        margin-bottom: 0;
      }
    }

    &-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 30px;

      @include media("<desktop") {
        margin-bottom: rem(20px);
        &:last-child {
          margin-bottom: 0;
        }
      }


      &--icon {
        @include icon-setup {
          font-size: rem(48px);
        }
      }

      &--block {
        &-title {
          @include font-setup(18px, 500, 27px);
          color: color(dark, 200);
        }

        &-brief {
          @include font-setup(16px, 400, 27px);
          color: color(dark, 400);
        }
      }
    }
  }
}

.wp-block-columns.list-advantage-container:not(.is-not-stacked-on-mobile) .wp-block-column .wp-block-column:not(:first-child) {
  margin-left: 10px;
}