.location-map {
  margin-top: 80px;
  margin-bottom: 150px;
  @include media("<tablet") {
    margin-bottom: 50px;
  }

  #map {
    height: 860px;
    width: 100%;

    @include media("<tablet") {
      height: 400px;
    }
  }
}

#map {
  height: 600px;
  width: 640px;
  @include media("<tablet") {
    height: 326px;
    width: 100%;
  }

  h3 {
    font-size: rem(18px);
    font-weight: 600;
    line-height: 22px;
    color: #212f3d;
    margin-bottom: 10px;
  }

  p {
    font-size: rem(13px);
    font-weight: 400;
    line-height: 22px;
    color: #004780;
    margin-bottom: 5px;
  }

  button {
    &:focus {
      outline: none;
    }
  }
}