.site {
  overflow-x: hidden;
}

.site-content {
  min-height: calc(100vh - 380px);
  overflow-x: hidden;
  // @include media(">desktop", "<1500px"){
  //     height: 90vh;
  // }
}

.site-main {
  @include media("<desktop") {
    padding-top: 104px;
  }
}

.mobile-view {
  @include media(">=desktop") {
    display: none;
  }
}

.desktop-view {
  @include media("<desktop") {
    display: none;
  }
}

.mobile-not-center {
  @include media("<desktop") {
    text-align: left;
  }
}

.wp-block-column {
  @include media("<tablet") {
    margin-bottom: 20px;
  }
}

img {
  max-width: 100%;
}

.entry {
  &-content {
    p {
      @include font-setup(16px, 400, 30px);
      color: color(dark, 400);
      margin-bottom: rem(25px);
      @include media("<tablet") {
        @include font-setup(14px, 400, 26px);
      }

      &.has-wpdc-text-1-font-size {
        @include font-setup(28px, 600, 36px);
        color: color(dark, 200);
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

