.theme-tabs .nav {
  &-tabs {
    border-bottom: 2px solid color(light, 300);

    .nav-link {
      @include font-setup(14px, 400, 21px);
      border: 2px solid transparent;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      color: color(dark, 400);
      padding: rem(20px);
      text-transform: uppercase;
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;

      &:hover {
        color: color(dark, 400);
      }

      &.active {
        @include font-setup(14px, 700, 21px);
        color: color(secondary, 200);
        background-color: #fff;
        border-color: color(light, 300) color(light, 300) transparent color(light, 300);
        border-bottom: 4px solid transparent;
      }
    }

    .nav-item {
      margin-bottom: -3px;
      max-width: rem(180px);
      text-align: center;
      display: flex;
      align-items: center;
      padding-left: 0;
    }
  }
}